@import "tailwindcss";
@source "../../../packages/ui/src";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  html,
  body {
    min-height: 100dvh;
    font-family: var(--font-geist-sans), Arial, sans-serif;
    line-height: 1.5;
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  :focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 4px;
  }

  .imgDark {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }

    .imgLight {
      display: none;
    }
    .imgDark {
      display: unset;
    }
  }
}
